<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProyectoTienda — Inicio</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>

<nav class="navbar">
    <div class="nav-brand">ProyectoTienda</div>
    <div class="nav-links">
        <a th:href="@{/producto}">Productos</a>
        <a th:href="@{/detalleVenta}">Detalles Venta</a>
        <a th:href="@{/clientes}"> Clientes</a>
        <a th:if="${rol == 'Administrador'}" th:href="@{/usuario}"> Usuarios</a>
        <a th:href="@{/ventas}"> Ventas</a>
    </div>
    <div class="nav-user">

        <div class="user-info">

            <img th:if="${rol == 'Administrador'}"
                 th:src="@{fotoAdmin.jpeg}"
                 class="avatar-foto"
                 alt="Admin">

            <div th:unless="${rol == 'Administrador'}" class="avatar-icono">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                     fill="currentColor" width="30" height="30">
                    <path d="M12 12c2.7 0 4.8-2.1 4.8-4.8S14.7 2.4 12 2.4
                             7.2 4.5 7.2 7.2 9.3 12 12 12zm0 2.4c-3.2 0-9.6 1.6-9.6 4.8v2.4h19.2
                             v-2.4c0-3.2-6.4-4.8-9.6-4.8z"/>
                </svg>
            </div>

            <div class="user-details">
                <span class="user-name" th:text="${username}">usuario</span>
                <span class="user-rol"  th:text="${rol}">rol</span>
            </div>
        </div>

        <a th:href="@{/logout}" class="btn-logout">Cerrar sesión</a>
    </div>
</nav>

<main class="dashboard">
    <h1>Bienvenido, <span th:text="${usuario}">usuario</span></h1>
    <p class="subtitulo">Selecciona un módulo para comenzar</p>

    <div class="cards-grid">
        <a th:href="@{/producto}" class="card-modulo">
            <span class="card-icono"></span>
            <h2>Productos</h2>
            <p>Gestionar inventario y precios</p>
        </a>
        <a th:href="@{/detalleVenta}" class="card-modulo">
            <span class="card-icono"></span>
            <h2>Detalle Venta</h2>
            <p>Registrar y administrar clientes</p>
        </a>

        <a th:if="${rol == 'Administrador'}" th:href="@{/usuario}" class="card-modulo">
            <span class="card-icono"></span>
            <h2>Usuarios</h2>
            <p>Gestionar cuentas y permisos</p>
        </a>

        <a th:href="@{/ventas}" class="card-modulo">
            <span class="card-icono"></span>
            <h2>Ventas</h2>
            <p>Registrar y administrar ventas</p>
        </a>

        <a th:href="@{/clientes}" class="card-modulo">
            <span class="card-icono"></span>
            <h2>Clientes</h2>
            <p>Registrar y administrar clientes</p>
        </a>
    </div>
</main>

<footer class="footer">
    <p>&copy; 2026 Tiendita</p>
</footer>
</body>
</html>