<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProyectoTienda — Inicio</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>

<nav class="navbar">
    <div class="nav-brand">ProyectoTienda</div>
    <div class="nav-links">
        <a href="producto">Productos</a>
        <a href="detalleVenta">Detalles Venta</a>
        <a href="clientes"> Clientes</a>
        <a href="Usuarios"> Usuarios</a>
        <a href="Ventas"> Ventas</a>
    </div>
    <div class="nav-user">
        <span><strong text="${usuario}">usuario</strong></span>
        <a href="login.html" class="btn-logout">Cerrar sesión</a>
    </div>
</nav>

<main class="dashboard">
    <h1>Bienvenido, <span th:text="${usuario}">usuario</span></h1>
    <p class="subtitulo">Selecciona un módulo para comenzar</p>

    <div class="cards-grid">
        <a href="producto" class="card-modulo">
            <span class="card-icono"></span>
            <h2>Productos</h2>
            <p>Gestionar inventario y precios</p>
        </a>
        <a href="detalleVenta" class="card-modulo">
            <span class="card-icono"></span>
            <h2>Detalle Venta</h2>
            <p>Registrar y administrar clientes</p>
        </a>

        <a href="usuario" class="card-modulo">
            <span class="card-icono"></span>
            <h2>Usuarios</h2>
            <p>Gestionar cuentas y permisos</p>
        </a>

        <a href="ventas" class="card-modulo">
            <span class="card-icono"></span>
            <h2>Ventas</h2>
            <p>Registrar y administrar ventas</p>
        </a>

        <a href="clientes" class="card-modulo">
            <span class="card-icono"></span>
            <h2>Clientes</h2>
            <p>Registrar y administrar clientes</p>
        </a>
    </div>
</main>

<footer class="footer">
    <p>&copy; 2026 Tiendita Todos los derechos reservados.</p>
</footer>
</body>
</html>