<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/login.css}">
</head>
<body>

<div class="login-container">
    <h2>Iniciar Sesión</h2>

    <form th:action="@{/login}" method="post">

        <div class="input-group">
            <input type="text" name="usuario" placeholder="Usuario" required>
        </div>

        <div class="input-group">
            <input type="password" name="password" placeholder="Contraseña" required>
        </div>

        <button type="submit">Ingresar</button>

    </form>

    <div class="footer-text">
        2026 Sistema
    </div>
</div>

</body>