    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

    * { margin:0; padding:0; box-sizing:border-box; font-family:'Poppins',sans-serif; }

    body { 
    background:#ffffff; 
    min-height:100vh; 
    }

    .navbar { 
    background:#284B63; 
    color:#fff; 
    display:flex; 
    align-items:center; 
    justify-content:space-between; 
    padding:30px 30px; 
    gap:20px; 
    flex-wrap:wrap; }

    .nav-brand { 
    font-size:18px; 
    font-weight:700; 
    color:#fff; }

    .nav-links { 
        display:flex; 
        gap:20px; }

    .nav-links a { 
        color:white; 
        text-decoration:none; 
        font-size:14px; 
        transition:color .2s; 
    }

    .nav-links a:hover { 
        color:#fff; 
    }

    .nav-user { 
        display:flex; 
        align-items:center; 
        gap:15px; 
        font-size:14px; 
        color:white; }

    .btn-logout { 
        background:#a4c3b2; 
        color:#fff; 
        padding:7px 16px; 
        border-radius:8px; 
        text-decoration:none; 
        font-size:13px; 
        font-weight:600; 
        transition:background .2s; 
    }

    .btn-logout:hover { 
        background:#3345a8; 
    }

    .dashboard { 
        max-width:900px; 
        margin:60px auto; 
        padding:0 20px; 
        text-align:center; 
    }

    .dashboard h1 { 
        font-size:28px; 
        color:#2C2C2C; 
        margin-bottom:8px; 
    }

    .subtitulo { 
        color:#888; 
        margin-bottom:40px;
        font-size:15px; 
    }

    .cards-grid { 
        display:grid; 
        grid-template-columns:repeat(auto-fit,minmax(220px,1fr)); gap:25px; 
    }

    .card-modulo { 
        background:#3C6E71; 
        border-radius:16px; 
        padding:35px 25px; 
        text-decoration:none; 
        color:#fff; 
        box-shadow:0 4px 20px rgba(0,0,0,.08); 
        border:2px solid transparent; 
        transition:transform .2s, 
        border-color .2s, 
        box-shadow .2s; 
    }

    .card-modulo:hover { 
        transform:translateY(-5px); 
        border-color:#1985a1; 
        box-shadow:0 10px 30px rgba(192,57,43,.15); 
    }

    .card-icono { 
        font-size:48px; 
        display:block; 
        margin-bottom:15px; 
    }

    .card-modulo h2 { 
        font-size:18px; 
        font-weight:600; 
        margin-bottom:8px;
     }
    
    .card-modulo p { 
        font-size:13px; 
        color:#fff; 
    }

    .footer{ 
        background-color: #353535;
        text-align:center; 
        padding:20px 30px; 
        gap: 10px;
        color:#f0f0f0; 
        font-size:13px; 
    }

    main { 
        flex:1; 
    }
