* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #ffffff;
    min-height: 100vh;
}

.navbar { 
    background:#284B63; 
    color:#fff; 
    display:flex; 
    align-items:center; 
    justify-content:space-between; 
    padding:20px 30px; 
    flex-wrap:wrap;
}

.nav-brand {
    font-weight: 700;
    color: #DDA15E;
}

.nav-links { 
    display:flex; 
    gap:20px; 
}

.nav-links a { 
    color:#ddd; 
    text-decoration:none; 
    font-size:14px; 
}

.nav-links a:hover { 
    color:#F39C12; 
}

.nav-user { 
    display:flex; 
    align-items:center; 
    gap:15px; 
    font-size:14px; 
}

.btn-logout { 
    background:#BC6C25; 
    color:#fff; 
    padding:6px 12px; 
    border-radius:8px; 
    text-decoration:none; 
}

.dashboard {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
}

h1 {
    margin-bottom: 5px;
    color: #2C2C2C;
}

.subtitulo {
    margin-bottom: 25px;
    color: #777;
}

.form-horizontal {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.form-horizontal input {
    flex: 1;
    min-width: 200px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: #f5f5f5;
}
.acciones {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
}

.agregar { background: #606C38; color: #fff; }
.editar { background: #DDA15E; color: #2C2C2C; }
.buscar { background: #8D99AE; color: #fff; }
.eliminar { background: #BC6C25; color: #fff; }
.limpiar { background: #6c757d; color: #fff; }

.btn:hover {
    opacity: 0.85;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}

thead {
    background: #606C38;
    color: #fff;
}

th, td {
    padding: 12px;
    text-align: center;
}

tbody tr {
    border-bottom: 1px solid #eee;
}

tbody tr:hover {
    background: #f5e6d3;
}

.footer{ 
    background-color: #606C38;
    text-align:center; 
    padding:20px; 
    color:#f0f0f0; 
    font-size:13px; 
}